<nav>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/">Home</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module1">Module 1</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module2">Module 2</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module3">Module 3</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module4">Module 4</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module5">Module 5</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module6">Module 6</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module7">Module 7</a></ul>
  <ul><a href="https://ctsit.github.io/J.O.B.-Jump-On-Board/#module8">Module 8</a></ul>
</nav>
