{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome</h1>
    <p>As a new employee we want you to be successful in your work. We have developed several training tutorials and instructions to get you started.</p>

    <p><img src="https://www.ctsi.ufl.edu/files/2010/11/BW_CTSI-website-update_JSJ_JJ73655.jpg" alt="CTS-IT Employees" height="427" width="640"></p>

    <p>Our training program is continualy evolving as is the technology we work with so as new content is available we will publish to this repository and site for your continued education.  </p>

    <h1>Gitflow</h1>
    <h2>Module One</h2>

    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1hdr4bp6NqYSJCxwubZKOy7ZtYxLYHtbmtRsvRGFsifg/edit?usp=sharing">Gitflow Introduction Slides</a></li>
    </ul>

    
    <h2>Module Two</h2>
    <p><strong>Module 2 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>
    
    <h2>Module Three</h2>
<p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>
    
    <h2>Module Four</h2>
    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <h2>Module Five</h2>
    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <h2>Module Six</h2>
    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <h2>Module Seven</h2>
    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <h2>Module Eight</h2>
    <p><strong>Module 1 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    


    </section>

	{{ content }}

{% include footer.html %}
