{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome</h1>
    <p>As a new employee we want you to be successful in your work. We have developed several training tutorials and instructions to get you started. Welcome to the team!</p>

    <p><img src="https://www.ctsi.ufl.edu/files/2010/11/BW_CTSI-website-update_JSJ_JJ73655.jpg" alt="CTS-IT Employees" height="427" width="640"></p>

    <p>Our training program is continualy evolving as is the technology we work with so as new content is available we will publish to this repository and site for your continued education.  </p>
<br>
<br>
<hr>
<br>
<br>
    <h1>Gitflow</h1>
    <p>Gitflow is a Git branching workflow we use at CTS-IT very often. It is important to understand the gitflow workflow, the gitflow procedure and when to use gitflow in your work. The following modules present the gitflow topic and assist in understanding how to use gitflow.</p>
<br>
<br>
<hr>
<br>
<br>
    <h2>Module One</h2>

    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Understand when gitflow is utilized for software development</li>
      <li>Describe why gitflow is used at CTS-IT</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the concept of Git workflows with specific emphasis on Gitflow. The module will answer why gitflow is used at CTS-IT and it will answer when it is used in our software development lifecycle. </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1hdr4bp6NqYSJCxwubZKOy7ZtYxLYHtbmtRsvRGFsifg/edit?usp=sharing" target="_blank">Gitflow Introduction Slides</a></li>
      <li><a href="https://github.com/ctsit/J.O.B.-Jump-On-Board/blob/gh-pages/git-gitflow-comparison.md" target="_blank">Gitflow and Git Command Comparison</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    <h2>Module Two</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define how to fork a repository using Git</li>
      <li>Understand how to make a pull request</li>
      <li>Make a software release with gitflow</li>
    </ul>
    
    <p><strong>Module Description</strong></p>
    <p>This module guides the learner through the gitflow procedure to create a fork, create a feature, create a python program, create a pull request, review code and release software. </p>
    <p><strong>Module Materials</strong></p>

    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1" target="_blank">Github Training Repository One</a></li>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1/blob/master/git-flow-cheatsheet.md" target="_blank">Gitflow Step-by-step Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    
    <h2>Module Three</h2>
<p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Utilize gitflow commands to make a feature branch</li>
      <li>Build confidence using commands using a guide</li>
      <li>Demonstrate knowledge of gitflow to make a release</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module will use the information and gitflow guide from the previous two modules. The goal is to follow the gitflow workflow to create a python program to sort a data file by last name alphabetically and then create a pull request in Github.</p> 
    <p>In this module, you will use the second of three training repositories on Github to create a program that sorts the phonebook.csv file using phonebook.py file. The phonebook.py file is a rudimentary python program that can be edited anyway you see fit. Please refer to the module materials to access the second training repository where you will perform your work.
  </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-2" target="_blank">Github Training Repository Two</a></li>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1/blob/master/git-flow-cheatsheet.md" target="_blank">Gitflow Command Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>    
    <h2>Module Four</h2>
    <p><strong>Module 4 Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define the role of a code moderator</li>
      <li>Understand the process for code reviews</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module will serve as a formal review of your work. It is intented to emulate the workflow performed at CTS-IT whereby the developer has code reviewed by a repository moderator in a step called a code review.</p><p>After you have completed module 3 you will organize time with your instructor to meet and review your code to accomplish the objectives in this module.</p>
    <p>Once the pull request is closed the instructor will guide you through a gitflow release of the software.</p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-2" target="_blank">Github Training Repository Two</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    <h2>Module Five</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define what is gitflow</li>
      <li>Demonstrate knowledge of gitflow commands</li>
      <li>Order gitflow commands to accomplish software release</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module serves to test your knowledge of the information presented up to this point. You will take an online quiz that is linked below. You will review your answers with the instructor. </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://goo.gl/forms/iPqum5CHiwY0dBaS2" target="_blank">Gitflow Quiz</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    <h2>Module Six</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Understand gitflow hotfix process</li>
      <li>Reproduce a code release cycle</li>
      <li>Show proficiency with gitflow commands</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>In this module you will use the third of three github repositories to use the Gitflow hotfix process to fix a problem with a python program. Afterwhich, you will perform a pull request in github for a code review.</p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-3" target="_blank">Github Training Repository Three</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    

    <h2>Module Seven</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Demonstrate proficiency with gitflow</li>
      <li>Describe common errors in the gitflow process</li>
      <li>Complete a code review</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>In this module you will perform another code review similar to module 4. However, you will guide the review process and explain the commands used to reach the release step. The instructor will close the pull request and you will then perform a release of the software as version 2.0 </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-3" target="_blank">Github Training Repository Three</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    <h2>Module Eight</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Demonstrate mastery of gitflow process</li>
      <li>Contribute to team knowledge</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>Congratulations! You have reached the last module in the Gitflow training. Now it is time to share your knowledge with the CTS-IT team. At the monthly scrum-of-scrum meeting you will prepare a presentation using the template linked in materials to share your knowledge about Gitflow and what you have learned. Have fun with the presentation and feel free to include memes.</p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1Y6wQ0bwU7c29CFkWvu5q6kbjASkwGzj2CQm42sUTXy0/edit?usp=sharing" target="_blank">Google Slide Template</a></li>
    </ul>


    </section>

	{{ content }}

{% include footer.html %}
